<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Vision Test</title>
<meta name="viewport"
   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="description"
   content="Choose between regular React Bootstrap tables or advanced dynamic ones.">

<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no">

</head>
<body>
   <form action="getFaceDetection" method="GET">
   <input type="text" name="imageUrl">
   <input type="submit" value="gogo">
   </form>
</body>
</html>