<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">


<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Register</title>
  <!-- Bootstrap core JavaScript-->
  <script src="bootstraptemplate2/vendor/jquery/jquery.min.js"></script>
  <script src="bootstraptemplate2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="bootstraptemplate2/vendor/jquery-easing/jquery.easing.miㄹn.js"></script>

  <!-- Custom fonts for this template-->
  <link href="bootstraptemplate2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="bootstraptemplate2/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form id="signupForm" action="/insertMember" method="post">
    
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="inputUserId" name="userId" class="form-control" placeholder="ID" required="required" autofocus="autofocus">
                  <label for="inputUserId">ID</label>
                </div>
              </div>
              <div class="col-md-6" >
                <a href="#" class="btn btn-primary" id="checkButton">Check</a>
              </div>
            </div>
          </div>
     
          
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="password" id="inputPassword" name="userPw"class="form-control" placeholder="Password" required="required">
                  <label for="inputPassword">Password</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                  <label for="confirmPassword">Confirm password</label>
                </div>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputName" name="userName" class="form-control" placeholder="User name" required="required">
              <label for="inputName">User Name</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" name="userEmail" class="form-control" placeholder="Email address" required="required">
              <label for="inputEmail">Email address</label>
            </div>
          </div>
           <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputPhoneNum" name="userPhoneNum" class="form-control" placeholder="Phone number" required="required">
              <label for="inputPhoneNum">Phone number</label>
            </div>
          </div>
    
          <div th:if="${session.loginStatus.toString().equals('client')}" class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputCarNum" name="userCarNum" class="form-control" placeholder="Car number" required="required">
              <label for="inputCarNum">Car number</label>
            </div>
          </div>
          <div th:if="${session.loginStatus.toString().equals('client')}" class="form-group">
             <div class="col-auto my-1">
     		 	<label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
     			 <select class="custom-select mr-sm-2" id="inputCarType" name="userCarType">
        			<option>Car type</option>
        			<option value="large">Large</option>
        			<option value="medium">Medium</option>
        			<option value="small">Small</option>
      			</select>
    		</div>
          </div>
          <p id="errorMessage" style="color: red" align="center"></p>
          <a class="btn btn-primary btn-block" href="#" id="registerATag">Register</a>
          <input type="hidden" id="getUserStatus" th:value="${session.loginStatus}">
        </form>
        
        <!-- 
        <div class="text-center">
          <a class="d-block small mt-3" href="login.html">Login Page</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
         -->
      </div>
    </div>
  </div>


<script>
	$(function(){
		var isChecked = false;
		var userStatus = $("#getUserStatus").val();
		
		$("#registerATag").click(function(){
			
			if(isChecked){
				checkValueForm();
			}else{
				$("#errorMessage").html("중복체크를 해야합니다");
			}
			
		});
		
		function checkValueForm(){
			var check=/[^\s][ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/gi;
			var userPw = $("#inputPassword").val();
			var reUserPw = $("#confirmPassword").val();
			var userName = $("#inputName").val();
			var userEmail = $("#inputEmail").val();
			var userPhoneNum =$("#inputPhoneNum").val();
			var carNum; 
			var carType; 
			if(userStatus=='client'){
				carNum= $("#inputCarNum").val();
				carType= $("#inputCarType").val();
			}
			if(userPw.length>=3 && userPw.length<=10){
				if(userPw==reUserPw){
					if(check.test(userName)){
						if(userStatus=='client'){
							if(userEmail.length!=0 && userPhoneNum.length!=0 && carNum.length!=0 && carType.length!=0){
								if(carType == "large" ||carType == "medium"||carType == "small"){
									$("#signupForm").submit();
								}else{
									$("#errorMessage").html("차량 유형을 선택해주시기 바랍니다");
								}
							}else{
								$("#errorMessage").html("기입 사항을 모두 기입해주시기 바랍니다");
							}
						}else{
							if(userEmail.length!=0 && userPhoneNum.length!=0){
								$("#signupForm").submit();	
							}else{
								$("#errorMessage").html("기입 사항을 모두 기입해주시기 바랍니다");
							}
						}
					}else{
						$("#errorMessage").html("이름 양식이 잘못되었습니다");
					}
				}else{
					$("#errorMessage").html("입력하신 비밀번호와 확인 비밀번호가 다릅니다");
				}
			}else{
				$("#errorMessage").html("비밀번호는 3-10 글자 입력해주시기 바랍니다");
			}
				
		}
	
		
		
		$("#checkButton").click(function(){
			var check=/[^a-z0-9]/g; 
			var userId = $("#inputUserId").val();
			if(userId.length>=3 && userId.length<=10){
				if(!(check.test(userId))){
			
					$.ajax({
						url: "selectMemberById",
						type: "get",
						data:{userId:userId},
						success:function(serverData){
							if(serverData.userId==null){
								isChecked = true;
								$("#errorMessage").html(userId+" 는 사용가능 아이디입니다");
							}else{
								isChecked = false;
								$("#errorMessage").html("중복되는 아이디가 있습니다");
							}	
						}
					});
				}else{
					$("#errorMessage").html("아이디는 소문자와 숫자 소합만 사용해주시기 바랍니다");
				}
			}else{
				$("#errorMessage").html("아이디는 3-10글자를 입력해주시기 바랍니다");
			}
		});
		
		$("#inputUserId").change(function(){
			isChecked = false;
			$("#errorMessage").html("");
		});
			});

</script>

</body>

</html>
