.metadata/
ERP_Project/.settings/
Servers/Pivotal tc Server Developer Edition v3.1-config/web.xml
Servers/Pivotal tc Server Developer Edition v3.1-config/tomcat-users.xml
Servers/Pivotal tc Server Developer Edition v3.1-config/server.xml
RemoteSystemsTempFiles/.project
Servers/Pivotal tc Server Developer Edition v3.1-config/jmxremote.password
Servers/Pivotal tc Server Developer Edition v3.1-config/jmxremote.access
Servers/Pivotal tc Server Developer Edition v3.1-config/context.xml
Servers/Pivotal tc Server Developer Edition v3.1-config/catalina.properties
Servers/Pivotal tc Server Developer Edition v3.1-config/catalina.policy
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/.project
/.recommenders/
ERP_Project/src/main/resources/static/firebase/firebasekey/scit37team1project-firebase-adminsdk-jziki-8a884c28bb.json
ERP_Project/src/main/resources/static/googlevision/SCIT37Team1Project-65d496fa1389.json
