<!doctype html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Regular Tables - Tables are the backbone of almost all web applications.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta name="description" content="Tables are the backbone of almost all web applications.">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- <script src="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/assets/scripts/main.8d288f825d8dffbbe55e.js"></script> -->
	<link href="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/main.8d288f825d8dffbbe55e.css" rel="stylesheet">
<!-- firebase -->
	<script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-auth.js"></script>
  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#config-web-app -->
  <!-- firebaseUI -->
  <script src="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.js"></script>
  <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-database.js"></script>
  <!-- firebase Config and initialize -->	
  <script src="firebase/firebase-config.js"></script>

<script th:inline="javascript">
$(function(){
	var status = 'ARRIVE';
	var database = firebase.database();
	$(".btn-primary").click(function(){
		var rmorder_code = $(this).val();
		$.ajax({
			url:"requestOneSelect",
			type:"get",
			data:{rmorder_code : rmorder_code},
			success:function(result){
				database.ref('warehouse/'+result.warehouse_code).once('child_added').then(function(data){
					if(data.val()!="empty"){
						database.ref('warehouse/'+result.warehouse_code).child("inventory").once('child_added').then(function(data2){
						if(data2.key==result.rawm_code){
							database.ref('warehouse/'+result.warehouse_code).child("inventory").child(result.rawm_code).once('child_added').then(function(snapshot){
								database.ref('warehouse/'+result.warehouse_code).child("inventory").child(result.rawm_code).update({"systemamount":snapshot.val() + result.rmorder_amount});
								$("#rmorder_code1").val(rmorder_code);
								$("#rmorder_status1").val(status);
								$("#orderUpdateForm").submit();
							});	
						}else{
							database.ref('warehouse/'+result.warehouse_code).child("inventory").child(result.rawm_code).set({"systemamount":result.rmorder_amount});
							$("#rmorder_code1").val(rmorder_code);
							$("#rmorder_status1").val(status);
							$("#orderUpdateForm").submit();
						}
						});
					}else{
						database.ref('warehouse/'+result.warehouse_code).child("inventory").child(result.rawm_code).set({"systemamount":result.rmorder_amount});
						$("#rmorder_code1").val(rmorder_code);
						$("#rmorder_status1").val(status);
						$("#orderUpdateForm").submit();
					}
				});
				
			}
		});
		
	});
	$("#insertOrder").click(function(){ 
		var g_oWindow = window.open("/goOrderInsert", "Input rawMaterial Information","width=550, height=550, location=no, toolbar=no, menubar=no, scrollbars=no, status=no, resizable=yes");
	});

});

</script>
	<script>
	$(function(){	
		$("#header").load("/header");
		$("#navbar").load("/navbar");
		$("#setting").load("/setting");
	});
	</script>
</head>
<body>
<form action="orderUpdate" method="post" id="orderUpdateForm">
	<input type="hidden" name="rmorder_code" id="rmorder_code1">
	<input type="hidden" name="rmorder_status" id="rmorder_status1">
</form>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">    
			<div id="header"></div>
    		<div id="setting"></div> 
            <div class="app-main">
            <div id="navbar"></div>
			<div class="app-main__outer">
                <div class="app-main__inner">
                
                 <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="lnr-hand icon-gradient bg-plum-plate">
                                    </i>
                                </div>
                                <div>발주 및 도착 관리
                                    <div class="page-title-subheading">
                                    	발주 / 도착 미확인 및 확인
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                                <div class="d-inline-block dropdown">
                                    <button type="button" id="insertOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow  btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                        	발주 신청
                                    </button>
                                    
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    
                    
                    
                    <!--  테이블 내용 -->
						<div class="main-card mb-3 card">
						<div class="card-body">
							<table style="width: 100%;" id="example"
								class="table table-hover table-striped table-bordered">
								<thead>
									<tr>
										<th>일자</th>
										<th>원자재구매코드</th>
										<th>원자재코드</th>
										<th>원자재명</th>
										<th>수량</th>
										<th>창고</th>
										<th>구매상태</th>
										<th>도착확인</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="list : ${oList}">
										<td th:text="${list.rmorder_date}"></td>
										<td th:text="${list.rmorder_code}"></td>
										<td th:text="${list.rawm_code}"></td>
										<td th:text="${list.rawm_name}"></td>
										<td th:text="${list.rmorder_amount}"></td>
										<td th:text="${list.warehouse_code}"></td>
										<td th:text="${list.rmorder_status}"></td>
										<td>
										<!-- <span th:if="${account.getAccountStatus().toString().equals('ACTIVE')}">재직중</span> -->
											<button class="mb-2 mr-2 btn-square btn btn-primary"
												data-type="update" th:value="${list.rmorder_code}"
												th:if="${list.rmorder_status}=='UNARRIVE'">도착</button>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th>일자</th>
										<th>원자재구매코드</th>
										<th>원자재코드</th>
										<th>원자재명</th>
										<th>수량</th>
										<th>창고</th>
										<th>구매상태</th>
										<th>도착확인</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
                        
                       <!-- 자바 스크리브로 앞으로 여기에 테이블이 추가되어야함 -->
                        
                        
                        
                    </div>
                </div>
                <!--  footer wrapper -->   
                 </div>
    </div>
<!-- drawer wrapper -->
<div class="app-drawer-overlay d-none animated fadeIn"></div>

</body>
</html>
