<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="database/jquery.table2excel.js"></script>
</head>
<body>
	<table id="TableToExcel" border=2 width=710 cellpadding=0 cellspacing=0
		class='table table-bordered' align=center
		style='border-collapse: collapse;'>
		<tr>
			<td>원자재명</td>
			<td><input id="rawm_code" name="rawm_code" list="test"
				class="form-control" autocomplete="off"> <datalist
					class="select" id="test">
					<option class="rList" th:each="list : ${rList}"
						th:text="${list.rawm_name}" th:value="${list.rawm_code}">
					</option>
				</datalist></td>
		</tr>
		<tr>
			<td>원자재수량</td>
			<td><input id="rmorder_amount" name="rmorder_amount" type="text"
				class="form-control"></td>
		</tr>
		<tr>
			<td>공급처코드(명)</td>
			<td><input id="supplierseq" name="supplierseq"
				readonly="readonly" type="text" class="form-control"></td>
		</tr>
		<tr>
			<td>창고코드</td>
			<td><input id="warehouse_code" name="warehouse_code" type="text"
				class="form-control"></td>
		</tr>

	</table>
	<iframe id="txtArea1" style="display: none"></iframe>

	<input type='button' class='btn btn-inverse' value='excel 다운'
		style='width: 100px; height: 36px; font-weight: bold;'
		onclick="ReportToExcelConverter()">
</body>
<script>
	function ReportToExcelConverter() {
		$("#TableToExcel").table2excel({
			exclude : ".noExl",
			name : "Excel Document Name",
			filename : "report" + '.xls',
			fileext : ".xls",
			exclude_img : true,
			exclude_links : true,
			exclude_inputs : true
		});
	};
$(function() {
		
		$("#rawm_code").change(function() {
			 $.ajax({
				url : "autoSelect",
				data : {rawm_code : $("#rawm_code").val()},
				type : 'get',
				success : function(result) {
					$("#supplierseq").empty();
					$("#supplierseq").val(result.supplierseq);
				}
			}); 
		});
		/* $(".btn-primary").click(function(){
			$("#orderInsertForm").submit();
			opener.location.href='goAllView'
			window.open("about:blank","_self").close();
		}); */
</script>
</html>
