<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Data Tables - Choose between regular React Bootstrap
	tables or advanced dynamic ones.</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="description"
	content="Choose between regular React Bootstrap tables or advanced dynamic ones.">

<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/assets/scripts/main.8d288f825d8dffbbe55e.js"></script>
<link
	href="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/main.8d288f825d8dffbbe55e.css"
	rel="stylesheet">
<script>
	$(function(){
		
		/* 버튼 Action */
		$(".btn-primary").click(function(){
			var check = /^[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}$/
			var seq = $("#supplierseq").val();
			var name = $("#supplier_name").val();
			var owner = $("#supplier_owner").val();
			var addr = $("#supplier_addr").val();
			var tel = $("#supplier_tel").val();
			var pic = $("#supplier_pic").val();
			var email = $("#supplier_email").val();
			
			var seq1 = $("#supplierseq1").val(seq);
			var name1 = $("#supplier_name1").val(name);
			var owner1 = $("#supplier_owner1").val(owner);
			var addr1 = $("#supplier_addr1").val(addr);
			var tel1 = $("#supplier_tel1").val(tel);
			var pic1 = $("#supplier_pic1").val(pic);
			var email1 = $("#supplier_email1").val(email);
			
			var seq2 = $("#supplierseq1").val();
			var name2 = $("#supplier_name1").val();
			var owner2 = $("#supplier_owner1").val();
			var addr2 = $("#supplier_addr1").val();
			var tel2 = $("#supplier_tel1").val();
			var pic2 = $("#supplier_pic1").val();
			var email2 = $("#supplier_email1").val();
			
			if(!tel2.match(check)){
				alert("전화번호 형식은 000-0000-0000");
				return false;
			}
			if(!name2){
				alert("공급처명을 입력해주세요")
				return false;
			}
			if(!owner2){
				alert("공급처대표명을 입력해주세요")
				return false;
			}
			if(!addr2){
				alert("공급처주소를 입력해주세요")
				return false;
			}
			if(!pic2){
				alert("공급처담장자명을 입력해주세요")
				return false;
			}
			if(!email2){
				alert("공급처이메일을 입력해주세요")
				return false;
			}
			
			$("#supplierUpdateForm").submit();
			opener.document.location.href="/goSupplierList";
            self.close();
		});
	});
</script>
</head>
<body>
	
	<div class="col-md-3">
		<div class="form-group">
			<label for="showEasing">공급처seq</label> <input id="supplierseq" name="supplierseq"
				type="text" readonly="readonly" th:value="${result.supplierseq}" class="form-control">
		</div>
		<div class="form-group">
			<label for="showEasing">공급처명</label> <input id="supplier_name" name="supplier_name"
				type="text" th:value="${result.supplier_name}" class="form-control">
		</div>
		<div class="form-group">
			<label for="hideEasing">공급처대표명</label> <input id="supplier_owner" name="supplier_owner"
				type="text" th:value="${result.supplier_owner}" class="form-control">
		</div>
		<div class="form-group">
			<label for="showMethod">공급처주소</label> <input id="supplier_addr" name="supplier_addr"
				type="text" th:value="${result.supplier_addr}" class="form-control">
		</div>
		<div class="form-group">
			<label for="showMethod">공급처연락처</label> <input id="supplier_tel" name="supplier_tel"
				type="tel" th:value="${result.supplier_tel}" class="form-control">
		</div>
		<div class="form-group">
			<label for="showMethod">공급처담당자명</label> <input id="supplier_pic" name="supplier_pic"
				type="text" th:value="${result.supplier_pic}" class="form-control">
		</div>
		<div class="form-group">
			<label for="showMethod">공급처이메일</label> <input id="supplier_email" name="supplier_email"
				type="email" th:value="${result.supplier_email}" class="form-control">
		</div>
		<div class="form-group">
		<button type="submit" class="mb-2 mr-2 btn-square btn btn-primary">수정</button>
		</div>
	</div>
	
	<form action="supplierUpdate" method="post" id="supplierUpdateForm">
		<input type="hidden" id="supplierseq1" name="supplierseq">
		<input type="hidden" id="supplier_name1" name="supplier_name">
		<input type="hidden" id="supplier_owner1" name="supplier_owner">
		<input type="hidden" id="supplier_addr1" name="supplier_addr">
		<input type="hidden" id="supplier_tel1" name="supplier_tel">
		<input type="hidden" id="supplier_pic1" name="supplier_pic">
		<input type="hidden" id="supplier_email1" name="supplier_email">
	</form>
</body>
</html>