
<!doctype html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Data Tables - Choose between regular React Bootstrap tables or advanced dynamic ones.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta name="description" content="Choose between regular React Bootstrap tables or advanced dynamic ones.">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

<link href="./main.cba69814a806ecc7945a.css" rel="stylesheet"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
	$(function(){	
		$("#header").load("/header");
		$("#navbar").load("/navbar");
		$("#setting").load("/setting");
	});
	</script>
<link href="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/main.8d288f825d8dffbbe55e.css" rel="stylesheet"><link href="./main.8d288f825d8dffbbe55e.css" rel="stylesheet"></head>
<script>
		function openWindow(){
			var g_oWindow =window.open('/goBoardInsert','win','width=430,height=500,location=no,status=no,scrollbars=yes');
			g_oInterval = window.setInterval(function() {
		        try {
		            // 창이 꺼졌는지 판단
		            if( g_oWindow == null || g_oWindow.closed ) {
		                window.clearInterval(g_oInterval);
		                g_oWindow = null;
						window.location.href="/goBoardList";
		            }
		        } catch (e) { }
		    }, 500);
			
		}

</script>

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">    <div class="app-main">
 			<div id="header"></div>
    		<div id="setting"></div> 
            <div class="app-main">
            <div id="navbar"></div>   
			<div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                    </i>
                                </div>
                                <div>공지사항
                                    <div class="page-title-subheading">공지사항을 확인해 주세요.
                                    </div>
                                </div>
                            </div>   
                         </div>
                    </div>  
                              <div class="main-card mb-3 card">
                        <div class="card-body">
                            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>등록일</th>
                                </tr>
                                </thead>
                                <tbody>
  								<tr th:each="list : ${boardlist}">
									<td th:text="${list.rn}"></td>
									<td><a th:href="@{http://localhost:9088/boarddetail(boardSeq=${list.board_seq})}" target="blank"><p th:text="${list.title}"></p></a></td>
<!-- <td><a href="#" onClick="window.open('http://localhost:9088/boarddetail(boardSeq=${list.board_seq})}"','_blank','toolbar=no,location=no,status=no,menubar=no, scrollbars=yes,resizable=no,width=700,height=600, top=30, left=30')"><p th:text="${list.title}"></p></a></td> -->
									<td th:text="${list.userid}"></td>
 									<td th:text="${list.time}"></td>
								</tr>
                                </tbody>
                            </table>
        	 
 <button class="mb-2 mr-2 btn btn-primary" onclick="openWindow();">새글쓰기</button>
 									 
                        </div>
                    </div>
                </div>
                
                              <!--  footer wrapper -->    </div>
    </div>
</div>
<!-- drawer wrapper -->
<div class="app-drawer-overlay d-none animated fadeIn"></div><script type="text/javascript" src="./assets/scripts/main.cba69814a806ecc7945a.js"></script>

</div>
</body>
</html>

