<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Form Layouts - Build whatever layout you need with our Architect framework.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta name="description" content="Build whatever layout you need with our Architect framework.">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/assets/scripts/main.8d288f825d8dffbbe55e.js"></script>
<link href="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/main.8d288f825d8dffbbe55e.css" rel="stylesheet">
<script>
	$(function(){	
		$("#header").load("/header");
		$("#navbar").load("/navbar");
		$("#setting").load("/setting");
	});
</script>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div id="header"></div>
    <div id="setting"></div> 
            <div class="app-main">
            
                     <div id="navbar"></div>
                <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-graph text-success">
                                    </i>
                                </div>
                                <div>재고 검수
                                    <div class="page-title-subheading">
                                    	전산 재고와 실질 재고 확인 기능
                                    </div>
                                </div>
                            </div>    
                            </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
<!-- 첫번째 박스 -->
                            <div class="main-card mb-3 card">
                                <div class="card-body"><h5 class="card-title">재고정보 입력</h5>
                                <div class="divider"></div>
                                    <form id="checkAmountForm" action="uploadFile" method="POST" enctype="multipart/form-data">
                                        <div class="position-relative row form-group">
                                        	<label for="exampleEmail" class="col-sm-2 col-form-label">제품코드</label>
                                            <div class="col-sm-10">
                                            	<input id="inputCode" placeholder="제품코드" type="text" class="mb-2 form-control" style="display:inline ;width: 400px">        
                                
                               						 <button id="searchButton" class="mb-2 mr-2 btn btn-primary" type="button" style="display:inline ;height: 37px;width: 80px">
                                						검색
                           							 </button>
                                            </div>
                                        </div>
                                        
                                        <div class="position-relative row form-group"><label for="exampleFile" class="col-sm-2 col-form-label">사진</label>
                                            <div class="col-sm-10"><input name="file" id="exampleFile" type="file" class="form-control-file">
                                                <small class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                                            </div>
                                        </div>
                                        <div class="position-relative row form-check" align="right">
                                            <div class="col-sm-10 offset-sm-2">
                                            	<button class="btn btn-primary" id="confirmButton" type="button">confirm</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                       
<!-- 두번째 박스 submit 누르면 생기면서 실질 재고와 검수 재고 차이 확인  -->
                            <div class="main-card mb-3 card">
                                <div class="card-body"><h5 class="card-title">재고 확인</h5>
                                <div class="divider"></div>
                                    <form>
                                    <div>
										<div class="position-relative row form-group">
                                        	<label for="exampleEmail" class="col-sm-2 col-form-label">전산재고</label>
                                            <div class="col-sm-10">
                                            	<input id="inputEAmount" placeholder="전산재고" type="text" class="mb-2 form-control" style="display:inline ;width: 400px">
                                            </div>
                                        </div>
                                        
                                           <div class="position-relative row form-group">
                                        	<label for="exampleEmail" class="col-sm-2 col-form-label">실질재고</label>
                                            <div class="col-sm-10">
                                            	<input placeholder="실질재고" type="text" class="mb-2 form-control" style="display:inline ;width: 400px">
                                            </div>
                                        	</div>
                                        	<div align="right">
                                        	<!-- 일치 시 submit // 아닐 시 수정 또는 보류 -->
                                            <button class="btn btn-secondary" >Submit</button>
                                            </div>
                                        	</div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer wapper 삽입 -->    
                </div>
    </div>

<!-- drawer wapper 삽입 -->
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script>
var formData = new FormData();
var code = null;
var amount = 0;
	$("#confirmButton").click(function(){
		//uploadFileFunc();
		//$("#checkAmountForm").submit();
		
		var formData = new FormData();
		formData.append("file", $("input[name=file]")[0].files[0]);
		$.ajax({ url: '/uploadFile', 
				 data: formData, 
				 processData: false, 
				 contentType: false, 
				 type: 'POST', 
				 success: function(data){
					 //여기서 이제 숫자 센거 가져오면 끝
					       alert("1"); } 
		});
		


	});
	
	$("#searchButton").click(function(){
		var g_oWindow = window.open("/goResearchInventoryCode", "Input Storage Information","width=700, height=500, location=no, toolbar=no, menubar=no, scrollbars=no, status=no, resizable=yes");
		g_oInterval = window.setInterval(function() {
	        try {
	            // 창이 꺼졌는지 판단
	            if( g_oWindow == null || g_oWindow.closed ) {
	                window.clearInterval(g_oInterval);
	                g_oWindow = null;

	                $.ajax({
	                	// 정보 가져오기
	                	url:"getCodeANDAmount",
	                	type:"POST",
	                	success:function(serverData){
	                		code = serverData.rawm_code;
	                		amount = serverData.amount;
	                		$("#inputCode").val(code);
	                		$("#inputEAmount").val(amount);
	                	}
	                });
	            }
	        } catch (e) { }
	    }, 500);
	
	});	
	/*
	function uploadFileFunc(){
		$.ajax({
			url:"/uploadFile",
			type: "POST",
			data: new FormData($("#upload_file_frm")[0]),
			enctype: 'multipart/form-data',
	        processData: false,
	        contentType: false,
	        cache: false,
	        success: function () {
	            $("#uload_result_msg").text("File Upload Success");

	        },
	        error: function () {
	            $("#uload_result_msg").text("File Upload Error");
	        }
		});
	}*/

</script>
</body>

</html>
