
<!doctype html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>재고검수 기록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta name="description" content="Choose between regular React Bootstrap tables or advanced dynamic ones.">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/main.8d288f825d8dffbbe55e.css" rel="stylesheet">
	
	<script>
	$(function(){	
		$("#header").load("/header");
		$("#navbar").load("/navbar");
		$("#setting").load("/setting");
	});
	</script>
</head>
<body>
 <form action="statusProduce" method="post" id="statusProduce">
	<input type="hidden" name="mfseq" id="code">
</form> 
<form action="deleteProduce" method="post" id="deleteProduce">
	<input type="hidden" name="mfseq" id="code1">
</form>

<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar"> 
			<div id="header"></div>
    		<div id="setting"></div> 
            <div class="app-main">
            <div id="navbar"></div>
			 <div class="app-main__outer">
                <div class="app-main__inner">
                
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                    </i>
                                </div>
                                <div>검수기록 조회
                                    <div class="page-title-subheading">재고 검수 기록 조회 기능
                                    </div>
                                </div>
                            </div>    </div>
                    </div>            <div class="main-card mb-3 card">
                        <div class="card-body">
                            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>검수코드</th>
                                    <th>검수자</th>
                                    <th>검수일자</th>
                                    <th>창고코드</th>
                                    <th>제품코드</th>
                                     <th>전산재고</th>
                                    <th>실질재고</th>
                                    <th>검수결과</th>
                                    <th>불일치 사유</th>   
                                </tr>
                                </thead>
        						<tbody id="tbody">
 
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
           <!--  footer wrapper -->    </div>
    </div>
</div>
<!-- drawer wrapper -->
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script th:inline="javascript">
/*<![CDATA[*/
 	$(function(){
 		var cList = /*[[${cList}]]*/;

		
 		for(var i = 0 ; i<cList.length; i++){
 			str='';
 			str+='<tr>';
 			str+='<td>'+cList[i].checkstock_code+'</td>';
 			str+='<td>'+cList[i].checkstock_adminid+'</td>';
 			str+='<td>'+cList[i].checkstock_date+'</td>';
 			str+='<td>'+cList[i].warehouse_code+'</td>';
 			str+='<td>'+cList[i].mmcode+'</td>';
 			str+='<td>'+cList[i].checkstock_sysstock+'</td>';
 			str+='<td>'+cList[i].checkstock_realstock+'</td>';
 			str+='<td>'+cList[i].checkstock_result+'</td>';
 			str+='<td>'+cList[i].checkstock_reason+'</td>';
 	 		str+='</td>';
 			str+='</tr>';
 			$("#tbody").append(str);
 		}

	});
	/*]]>*/
</script>
</body>
 </html>

