<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Regular Tables - Tables are the backbone of almost all web applications.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta name="description" content="Tables are the backbone of almost all web applications.">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/assets/scripts/main.8d288f825d8dffbbe55e.js"></script>
<link href="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/main.8d288f825d8dffbbe55e.css" rel="stylesheet">
<script>
	$(function(){	
		$("#header").load("/header");
		$("#navbar").load("/navbar");
		$("#setting").load("/setting");
	});
</script>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">    
			<div id="header"></div>
    		<div id="setting"></div> 
            <div class="app-main">
            <div id="navbar"></div>
			<div class="app-main__outer">
                <div class="app-main__inner">
                
                 <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fa fa-database icon-gradient bg-ripe-malin">
                                    </i>
                                </div>
                                <div>창고 관리
                                    <div class="page-title-subheading">
                                    	창고 관리 및 창고 내 재고 세부 정보 접근 기능
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                                <div class="d-inline-block dropdown">
                                    <button type="button" id="insertStorage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow  btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                        	창고 추가
                                    </button>
                                    
                                </div>
                            </div>    </div>
                    </div> 
                    
                    
                    
                    
                    <!--  테이블 내용 -->
                <table style="width: 97em">
                	<tr>
                		<td>
                            <div class="main-card mb-3 card">
                                        <div class="card-header">
                                        <i class="header-icon lnr-laptop-phone icon-gradient bg-plum-plate"> </i>창고1
                                            <div class="btn-actions-pane-right actions-icon-btn" style="margin-top: 0.7em;">
                                                <button class="mb-2 mr-2 btn-pill btn-transition btn btn-outline-primary btn-sm" type="button" style="float: right;">
                                   				 detail
                                    			</button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                        	<p>관리 재고 수량 : x</p>
                                        	<p>관리 생산품 재고 수량 : x</p>
                                        	<p>관리 원자재 관리 수량 : x</p>
                                        	<p>면적 : </p>
                                        	<p>위치 : </p>
                                        	<p>개설일 : </p>
                                        	
                                        </div>
                                        <div class="d-block text-right card-footer">
                                       <button class="btn-shadow-primary btn btn-primary btn-lg" button-type="update" data-seq="">Update</button>
                                            <button class="mr-2 btn btn-link btn-sm" button-type="delete" data-seq="">Delete</button>
                                        </div>
                                    </div>
                            
                		</td>
                		
                		<td style="padding-left: 2em">
                            <div class="main-card mb-3 card">
                                        <div class="card-header">
                                        <i class="header-icon lnr-laptop-phone icon-gradient bg-plum-plate"> </i>창고1
                                            <div class="btn-actions-pane-right actions-icon-btn" style="margin-top: 0.7em;">
                                                <button class="mb-2 mr-2 btn-pill btn-transition btn btn-outline-primary btn-sm" type="button" style="float: right;">
                                   				 detail
                                    			</button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                        	<p>관리 재고 수량 : x</p>
                                        	<p>관리 생산품 재고 수량 : x</p>
                                        	<p>관리 원자재 관리 수량 : x</p>
                                        	<p>면적 : </p>
                                        	<p>위치 : </p>
                                        	<p>개설일 : </p>
                                        </div>
                                        <div class="d-block text-right card-footer">
                                        <button class="btn-shadow-primary btn btn-primary btn-lg" button-type="update" data-seq="">Update</button>
                                            <button class="mr-2 btn btn-link btn-sm" button-type="delete" data-seq="">Delete</button>
                                        </div>
                                    </div>
                
                		</td>
                		<td style="padding-left: 2em">
                	
                            <div class="main-card mb-3 card">
                                        <div class="card-header">
                                        <i class="header-icon lnr-laptop-phone icon-gradient bg-plum-plate"> </i>창고1
                                            <div class="btn-actions-pane-right actions-icon-btn" style="margin-top: 0.7em;">
                                                <button class="mb-2 mr-2 btn-pill btn-transition btn btn-outline-primary btn-sm" type="button" style="float: right;">
                                   				 detail
                                    			</button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                        	<p>관리 재고 수량 : x</p>
                                        	<p>관리 생산품 재고 수량 : x</p>
                                        	<p>관리 원자재 관리 수량 : x</p>
                                        	<p>면적 : </p>
                                        	<p>위치 : </p>
                                        	<p>개설일 : </p>
                                        </div>
                                        <div class="d-block text-right card-footer">
                                              <button class="btn-shadow-primary btn btn-primary btn-lg" button-type="update" data-seq="">Update</button>
                                            <button class="mr-2 btn btn-link btn-sm" button-type="delete" data-seq="">Delete</button>
                                        </div>
                                    </div>
                            
                		</td>	
                	</tr>
                </table>
                    
                    
                        
                        
                        
                       <!-- 자바 스크리브로 앞으로 여기에 테이블이 추가되어야함 -->
                        
                        
                        
                    </div>
                </div>
                <!--  footer wrapper -->   
                 </div>
    </div>

<!-- drawer wrapper -->
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/assets/scripts/main.8d288f825d8dffbbe55e.js">
</script>
<script>
	$(function(){
		var type=null;
		var storage_seq=null;
		$("#insertStorage").click(function(){ 
			var g_oWindow = window.open("/goInsertStorage", "Input Storage Information","width=400, height=500, location=no, toolbar=no, menubar=no, scrollbars=no, status=no, resizable=yes");
		});  
		
		$(".btn-lg").click(function(){
			type= $(this).attr("button-type");
			storage_seq= $(this).attr("data-seq");
			var g_oWindow = window.open("/goUpdateStorage", "Update Storage Information","width=400, height=500, location=no, toolbar=no, menubar=no, scrollbars=no, status=no, resizable=yes");
			
		});
		
		$(".btn-sm").click(function(){
			type= $(this).attr("button-type");
			storage_seq= $(this).attr("data-seq");
			if(type=="delete"){
			confirm("정말 창고 정보를 삭제하시겠습니까?");
			}
		});
	});
</script>

</body>
</html>
