<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Regular Tables - Tables are the backbone of almost all web applications.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta name="description" content="Tables are the backbone of almost all web applications.">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/assets/scripts/main.8d288f825d8dffbbe55e.js"></script>
	<link href="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/main.8d288f825d8dffbbe55e.css" rel="stylesheet">
  	<!-- firebase -->
	<script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-auth.js"></script>
  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#config-web-app -->
  <!-- firebaseUI -->
  <script src="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.js"></script>
  <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-database.js"></script>
  <!-- firebase Config and initialize -->	
  <script src="firebase/firebase-config.js"></script>
    
	<script>
	$(function(){	
		$("#header").load("/header");
		$("#navbar").load("/navbar");
		$("#setting").load("/setting");
	});
	</script>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">    
			<div id="header"></div>
    		<div id="setting"></div> 
            <div class="app-main">
            <div id="navbar"></div>
			<div class="app-main__outer">
                <div class="app-main__inner">
                
                 <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fa fa-database icon-gradient bg-ripe-malin">
                                    </i>
                                </div>
                                <div>창고 관리
                                    <div class="page-title-subheading">
                                    	창고 관리 및 창고 내 재고 세부 정보 접근 기능
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                                <div class="d-inline-block dropdown">
                                    <button type="button" id="insertStorage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow  btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                        	창고 추가
                                    </button>
                                    
                                </div>
                            </div>    </div>
                    </div> 
                    
                    
                    
                    
                    <!--  테이블 내용 -->
                <table style="width: 97em" id="warehouseTable">
                </table>
                    
                    
                        
                        
                        
                       <!-- 자바 스크리브로 앞으로 여기에 테이블이 추가되어야함 -->
                        
                        
                        
                    </div>
                </div>
                <!--  footer wrapper -->   
                 </div>
    </div>

<!-- drawer wrapper -->
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/assets/scripts/main.8d288f825d8dffbbe55e.js">
</script>
<script>
	$(function(){
		//파이어베이스 객체 호출
		var database = firebase.database();
		selelctANDPrintAll();
		//창고관리 버튼 타입 및 창고코드 변수
		var type=null;
		var storage_seq=null;
		
		//창고 추가 버튼 눌렀을때
		$("#insertStorage").click(function(){ 
			var g_oWindow = window.open("/goInsertStorage", "Input Storage Information","width=400, height=500, location=no, toolbar=no, menubar=no, scrollbars=no, status=no, resizable=yes");
			var g_oInterval = window.setInterval(function() {
		        try {
		            // 창이 꺼졌는지 판단
		            if( g_oWindow == null || g_oWindow.closed ) {
		                window.clearInterval(g_oInterval);
		                g_oWindow = null;
		                selelctANDPrintAll();
		           		selectLatestWarehouse();
		            }
		        } catch (e) { }
		    }, 500);
		});  
		
		//창고 추가 버튼 눌렀을 때 추가 된 warehouse정보를 가져와 firebase에 넣는 과정
		function selectLatestWarehouse(){
			$.ajax({
				url: "selectLatestWarehouse",
				type: "get",
				success:function(serverData){
					database.ref(serverData.warehouse_code+'/').set({"inventory": "empty"});
				}
			});
		}
		
		//창고 정보 수정 버튼 눌렀을때
		$(".btn-lg").click(function(){
			//type= $(this).attr("button-type");
			//storage_seq= $(this).attr("data-seq");
			//var g_oWindow = window.open("/goUpdateStorage", "Update Storage Information","width=400, height=500, location=no, toolbar=no, menubar=no, scrollbars=no, status=no, resizable=yes");
			alert("test");
		});
		
		//창고 삭제 버튼 눌렀을 때
		$(".btn-sm").click(function(){
			type= $(this).attr("button-type");
			storage_seq= $(this).attr("data-seq");
			if(type=="delete"){
			confirm("정말 창고 정보를 삭제하시겠습니까?");
			}
		});
		
		//처음 들어왔을 때 창고 리스트 가져오기
		function selelctANDPrintAll(){
		$.ajax({
			url: "selectAllInventory",
			type: "get",
			success:function(serverData){
				printAllInventory(serverData);
			}
		});
		}
		
		//UI에 창고 리스트 전체 출력
			function printAllInventory(serverData){
				$("#warehouseTable").html("");
				var count = 0; 
				if(serverData.length!=0&&serverData!=null){
				for(var i = 0 ; i<serverData.length ; i++){
					if(i%3==0){
						$("#warehouseTable").append('<tr id="warehouseTR'+count+'"></tr>');
					}
					var str='';
					str+='<td>';
					str+='<div class="main-card mb-3 card">';
					str+='<div class="card-header">';
					str+='<i class="header-icon lnr-laptop-phone icon-gradient bg-plum-plate"> </i>'+serverData[i].warehouse_name+'';
					str+='<div class="btn-actions-pane-right actions-icon-btn" style="margin-top: 0.7em;">';
					str+='<button class="mb-2 mr-2 btn-pill btn-transition btn btn-outline-primary btn-sm" button-type="detail" data-seq="'+serverData[i].warehouse_code+'" type="button" style="float: right;">';
					str+='detail';
					str+='</button>';
					str+='</div>';
					str+='</div>';
					str+='<div class="card-body">';
					str+='<p>관리 재고 수량 : x</p>';
					str+='<p>관리 생산품 재고 수량 : x</p>';
					str+='<p>관리 원자재 관리 수량 : x</p>';
					str+='<p>면적 : '+serverData[i].warehouse_size+'</p>';
					str+='<p>위치 : '+serverData[i].warehouse_addr+'</p>';
					str+='<p>개설일 : '+serverData[i].warehouse_date+'</p>';	
					str+='</div>';
					str+='<div class="d-block text-right card-footer">';
					str+='<button class="btn-shadow-primary btn btn-primary btn-lg"  button-type="update" data-seq="'+serverData[i].warehouse_code+'">Update</button>';
					str+='<button class="mr-2 btn btn-link btn-sm" button-type="delete" data-seq="'+serverData[i].warehouse_code+'">Delete</button>';
					str+='</div>';
					str+='</div>';  
					str+='</td>';
					$("#warehouseTR"+count).append(str);
					if(i%3==2){
						count ++;
					}
				}
				}else{
					var str2='';
					str2+='<tr><td>';
					str2+='<div class="main-card mb-3 card">';
					str2+='<div class="card-header">';
					str2+='<span>등록한 창고 정보가 없습니다.</span>';
					str2+='</div>';
					str2+='</div>';  
					str2+='</td></tr>';
					$("#warehouseTable").append(str2);
				}
		}
			
			
			/*
			파이어베이스 관련 코딩
			database.ref("carpark/").on('value', function(snapshot){
				selectStillParking();
			});
			function putParkingDataToFirebase(serverData){
				for(var i =0 ; i<serverData.length ; i++){
					database.ref("carpark/"+"parkspaceNum"+serverData[i].parkspaceNum).update({
						parkingNum:serverData[i].parkingNum
						, carNum:serverData[i].carNum
						, parkspaceNum:serverData[i].parkspaceNum
						, startDate:serverData[i].startDate
						, endDate:serverData[i].endDate
						, fee:serverData[i].fee
						, carType:serverData[i].carType
						, parkingState:serverData[i].parkingState
					});
				}
			}
			
			function deleteDataFromFirebase(carparkNum){
				database.ref("carpark/"+"parkspaceNum"+carparkNum).set("empty");
			}*/
	
	});
</script>

</body>
</html>
