<!doctype html>
<html lang="utf-8">

<head>

<!-- <script src="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/assets/scripts/main.8d288f825d8dffbbe55e.js"></script>
 -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Analytics Dashboard - This is an example dashboard
	created using build-in elements and components.</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="description"
	content="This is an example dashboard created using build-in elements and components.">

<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script src="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/assets/scripts/main.8d288f825d8dffbbe55e.js"></script>
 -->
<link
	href="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/main.8d288f825d8dffbbe55e.css"
	rel="stylesheet">
<script>
	$(function() {
		$("#header").load("/header");
		$("#navbar").load("/navbar");
		$("#setting").load("/setting");
	});
</script>
</head>
<body>
	<div
		class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
		<div id="header"></div>
		<div id="setting"></div>
		<div class="app-main">
			<div id="navbar"></div>
			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="app-page-title">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="pe-7s-car icon-gradient bg-warm-flame"> </i>
								</div>
								<div>
									메인화면
									<div class="page-title-subheading">스케쥴러를 확인해주세요</div>
								</div>
							</div>
						</div>
					</div>
									
				<ul
						class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
						<li class="nav-item"><a role="tab" class="nav-link active"
							id="tab-0" data-toggle="tab" href="#tab-content-0"> <span>Basic
									Calendar</span>
						</a></li>
						<li class="nav-item"><a role="tab" class="nav-link"
							id="tab-1" data-toggle="tab" href="#tab-content-1"> <span>List
									View</span>
						</a></li>
						<li class="nav-item"><a role="tab" class="nav-link"
							id="tab-2" data-toggle="tab" href="#tab-content-2"> <span>Background
									Events</span>
						</a></li>
					</ul>
					<!-- <div class="tab-content">
                        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div id='calendar'></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div id='calendar-list'></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div id="calendar-bg-events"></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
					<div class="card-body">
						<div id="calendar" class="fc fc-bootstrap4 fc-ltr">
							<div class="fc-toolbar fc-header-toolbar">
								<div class="fc-left">
									<div class="btn-group">
										<button type="button" class="fc-prev-button btn btn-primary"
											aria-label="prev">
											<span class="fa fa-chevron-left"></span>
										</button>
										<button type="button" class="fc-next-button btn btn-primary"
											aria-label="next">
											<span class="fa fa-chevron-right"></span>
										</button>
									</div>
									<button type="button" class="fc-today-button btn btn-primary">today</button>
								</div>
								<div class="fc-right">
									<div class="btn-group">
										<button type="button"
											class="fc-month-button btn btn-primary active">month</button>
										<button type="button"
											class="fc-basicWeek-button btn btn-primary ">week</button>
										<button type="button"
											class="fc-basicDay-button btn btn-primary ">day</button>
									</div>
								</div>
								<div class="fc-center">
									<h2>March 2018</h2>
								</div>
								<div class="fc-clear"></div>
							</div>
							<div class="fc-view-container" style="">
								<div class="fc-view fc-month-view fc-basic-view" style="">
									<table class="table-bordered">
										<thead class="fc-head">
											<tr>
												<td class="fc-head-container "><div
														class="fc-row table-bordered">
														<table class="table-bordered">
															<thead>
																<tr>
																	<th class="fc-day-header  fc-sun"><span>Sun</span></th>
																	<th class="fc-day-header  fc-mon"><span>Mon</span></th>
																	<th class="fc-day-header  fc-tue"><span>Tue</span></th>
																	<th class="fc-day-header  fc-wed"><span>Wed</span></th>
																	<th class="fc-day-header  fc-thu"><span>Thu</span></th>
																	<th class="fc-day-header  fc-fri"><span>Fri</span></th>
																	<th class="fc-day-header  fc-sat"><span>Sat</span></th>
																</tr>
															</thead>
														</table>
													</div></td>
											</tr>
										</thead>
										<tbody class="fc-body">
											<tr>
												<td class=""><div
														class="fc-scroller fc-day-grid-container"
														style="overflow: hidden; height: 623.67px;">
														<div class="fc-day-grid fc-unselectable">
															<div class="fc-row fc-week table-bordered fc-rigid"
																style="height: 102px;">
																<div class="fc-bg">
																	<table class="table-bordered">
																		<tbody>
																			<tr>
																				<td class="fc-day  fc-sun fc-other-month fc-past"
																					data-date="2018-02-25"></td>
																				<td class="fc-day  fc-mon fc-other-month fc-past"
																					data-date="2018-02-26"></td>
																				<td class="fc-day  fc-tue fc-other-month fc-past"
																					data-date="2018-02-27"></td>
																				<td class="fc-day  fc-wed fc-other-month fc-past"
																					data-date="2018-02-28"></td>
																				<td class="fc-day  fc-thu fc-past"
																					data-date="2018-03-01"></td>
																				<td class="fc-day  fc-fri fc-past"
																					data-date="2018-03-02"></td>
																				<td class="fc-day  fc-sat fc-past"
																					data-date="2018-03-03"></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
																<div class="fc-content-skeleton">
																	<table>
																		<thead>
																			<tr>
																				<td class="fc-day-top fc-sun fc-other-month fc-past"
																					data-date="2018-02-25"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-02-25&quot;,&quot;type&quot;:&quot;day&quot;}">25</a></td>
																				<td class="fc-day-top fc-mon fc-other-month fc-past"
																					data-date="2018-02-26"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-02-26&quot;,&quot;type&quot;:&quot;day&quot;}">26</a></td>
																				<td class="fc-day-top fc-tue fc-other-month fc-past"
																					data-date="2018-02-27"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-02-27&quot;,&quot;type&quot;:&quot;day&quot;}">27</a></td>
																				<td class="fc-day-top fc-wed fc-other-month fc-past"
																					data-date="2018-02-28"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-02-28&quot;,&quot;type&quot;:&quot;day&quot;}">28</a></td>
																				<td class="fc-day-top fc-thu fc-past"
																					data-date="2018-03-01"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-01&quot;,&quot;type&quot;:&quot;day&quot;}">1</a></td>
																				<td class="fc-day-top fc-fri fc-past"
																					data-date="2018-03-02"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-02&quot;,&quot;type&quot;:&quot;day&quot;}">2</a></td>
																				<td class="fc-day-top fc-sat fc-past"
																					data-date="2018-03-03"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-03&quot;,&quot;type&quot;:&quot;day&quot;}">3</a></td>
																			</tr>
																		</thead>
																		<tbody>
																			<tr>
																				<td></td>
																				<td></td>
																				<td></td>
																				<td></td>
																				<td class="fc-event-container"><a
																					class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable"><div
																							class="fc-content">
																							<span class="fc-title">All Day Event</span>
																						</div>
																						<div class="fc-resizer fc-end-resizer"></div></a></td>
																				<td></td>
																				<td></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
															<div class="fc-row fc-week table-bordered fc-rigid"
																style="height: 102px;">
																<div class="fc-bg">
																	<table class="table-bordered">
																		<tbody>
																			<tr>
																				<td class="fc-day  fc-sun fc-past"
																					data-date="2018-03-04"></td>
																				<td class="fc-day  fc-mon fc-past"
																					data-date="2018-03-05"></td>
																				<td class="fc-day  fc-tue fc-past"
																					data-date="2018-03-06"></td>
																				<td class="fc-day  fc-wed fc-past"
																					data-date="2018-03-07"></td>
																				<td class="fc-day  fc-thu fc-past"
																					data-date="2018-03-08"></td>
																				<td class="fc-day  fc-fri fc-past"
																					data-date="2018-03-09"></td>
																				<td class="fc-day  fc-sat fc-past"
																					data-date="2018-03-10"></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
																<div class="fc-content-skeleton">
																	<table>
																		<thead>
																			<tr>
																				<td class="fc-day-top fc-sun fc-past"
																					data-date="2018-03-04"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-04&quot;,&quot;type&quot;:&quot;day&quot;}">4</a></td>
																				<td class="fc-day-top fc-mon fc-past"
																					data-date="2018-03-05"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-05&quot;,&quot;type&quot;:&quot;day&quot;}">5</a></td>
																				<td class="fc-day-top fc-tue fc-past"
																					data-date="2018-03-06"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-06&quot;,&quot;type&quot;:&quot;day&quot;}">6</a></td>
																				<td class="fc-day-top fc-wed fc-past"
																					data-date="2018-03-07"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-07&quot;,&quot;type&quot;:&quot;day&quot;}">7</a></td>
																				<td class="fc-day-top fc-thu fc-past"
																					data-date="2018-03-08"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-08&quot;,&quot;type&quot;:&quot;day&quot;}">8</a></td>
																				<td class="fc-day-top fc-fri fc-past"
																					data-date="2018-03-09"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-09&quot;,&quot;type&quot;:&quot;day&quot;}">9</a></td>
																				<td class="fc-day-top fc-sat fc-past"
																					data-date="2018-03-10"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-10&quot;,&quot;type&quot;:&quot;day&quot;}">10</a></td>
																			</tr>
																		</thead>
																		<tbody>
																			<tr>
																				<td rowspan="2"></td>
																				<td rowspan="2"></td>
																				<td rowspan="2"></td>
																				<td class="fc-event-container" colspan="3"><a
																					class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable"><div
																							class="fc-content">
																							<span class="fc-title">Long Event</span>
																						</div>
																						<div class="fc-resizer fc-end-resizer"></div></a></td>
																				<td rowspan="2"></td>
																			</tr>
																			<tr>
																				<td></td>
																				<td></td>
																				<td class="fc-event-container"><a
																					class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div
																							class="fc-content">
																							<span class="fc-time">4p</span> <span
																								class="fc-title">Repeating Event</span>
																						</div></a></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
															<div class="fc-row fc-week table-bordered fc-rigid"
																style="height: 103px;">
																<div class="fc-bg">
																	<table class="table-bordered">
																		<tbody>
																			<tr>
																				<td class="fc-day  fc-sun fc-past"
																					data-date="2018-03-11"></td>
																				<td class="fc-day  fc-mon fc-past"
																					data-date="2018-03-12"></td>
																				<td class="fc-day  fc-tue fc-past"
																					data-date="2018-03-13"></td>
																				<td class="fc-day  fc-wed fc-past"
																					data-date="2018-03-14"></td>
																				<td class="fc-day  fc-thu fc-past"
																					data-date="2018-03-15"></td>
																				<td class="fc-day  fc-fri fc-past"
																					data-date="2018-03-16"></td>
																				<td class="fc-day  fc-sat fc-past"
																					data-date="2018-03-17"></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
																<div class="fc-content-skeleton">
																	<table>
																		<thead>
																			<tr>
																				<td class="fc-day-top fc-sun fc-past"
																					data-date="2018-03-11"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-11&quot;,&quot;type&quot;:&quot;day&quot;}">11</a></td>
																				<td class="fc-day-top fc-mon fc-past"
																					data-date="2018-03-12"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-12&quot;,&quot;type&quot;:&quot;day&quot;}">12</a></td>
																				<td class="fc-day-top fc-tue fc-past"
																					data-date="2018-03-13"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-13&quot;,&quot;type&quot;:&quot;day&quot;}">13</a></td>
																				<td class="fc-day-top fc-wed fc-past"
																					data-date="2018-03-14"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-14&quot;,&quot;type&quot;:&quot;day&quot;}">14</a></td>
																				<td class="fc-day-top fc-thu fc-past"
																					data-date="2018-03-15"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-15&quot;,&quot;type&quot;:&quot;day&quot;}">15</a></td>
																				<td class="fc-day-top fc-fri fc-past"
																					data-date="2018-03-16"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-16&quot;,&quot;type&quot;:&quot;day&quot;}">16</a></td>
																				<td class="fc-day-top fc-sat fc-past"
																					data-date="2018-03-17"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-17&quot;,&quot;type&quot;:&quot;day&quot;}">17</a></td>
																			</tr>
																		</thead>
																		<tbody>
																			<tr>
																				<td class="fc-event-container" colspan="2"><a
																					class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable"><div
																							class="fc-content">
																							<span class="fc-title">Conference</span>
																						</div>
																						<div class="fc-resizer fc-end-resizer"></div></a></td>
																				<td class="fc-event-container" rowspan="6"><a
																					class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div
																							class="fc-content">
																							<span class="fc-time">7a</span> <span
																								class="fc-title">Birthday Party</span>
																						</div></a></td>
																				<td rowspan="6"></td>
																				<td rowspan="6"></td>
																				<td class="fc-event-container" rowspan="6"><a
																					class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div
																							class="fc-content">
																							<span class="fc-time">4p</span> <span
																								class="fc-title">Repeating Event</span>
																						</div></a></td>
																				<td rowspan="6"></td>
																			</tr>
																			<tr>
																				<td rowspan="5"></td>
																				<td class="fc-event-container"><a
																					class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div
																							class="fc-content">
																							<span class="fc-time">10:30a</span> <span
																								class="fc-title">Meeting</span>
																						</div></a></td>
																			</tr>
																			<tr>
																				<td class="fc-event-container"><a
																					class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div
																							class="fc-content">
																							<span class="fc-time">12p</span> <span
																								class="fc-title">Lunch</span>
																						</div></a></td>
																			</tr>
																			<tr>
																				<td class="fc-event-container fc-limited"><a
																					class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div
																							class="fc-content">
																							<span class="fc-time">2:30p</span> <span
																								class="fc-title">Meeting</span>
																						</div></a></td>
																				<td class="fc-more-cell" rowspan="1"><div>
																						<a class="fc-more">+3 more</a>
																					</div></td>
																			</tr>
																			<tr class="fc-limited">
																				<td class="fc-event-container"><a
																					class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div
																							class="fc-content">
																							<span class="fc-time">5:30p</span> <span
																								class="fc-title">Happy Hour</span>
																						</div></a></td>
																			</tr>
																			<tr class="fc-limited">
																				<td class="fc-event-container"><a
																					class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div
																							class="fc-content">
																							<span class="fc-time">8p</span> <span
																								class="fc-title">Dinner</span>
																						</div></a></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
															<div class="fc-row fc-week table-bordered fc-rigid"
																style="height: 102px;">
																<div class="fc-bg">
																	<table class="table-bordered">
																		<tbody>
																			<tr>
																				<td class="fc-day  fc-sun fc-past"
																					data-date="2018-03-18"></td>
																				<td class="fc-day  fc-mon fc-past"
																					data-date="2018-03-19"></td>
																				<td class="fc-day  fc-tue fc-past"
																					data-date="2018-03-20"></td>
																				<td class="fc-day  fc-wed fc-past"
																					data-date="2018-03-21"></td>
																				<td class="fc-day  fc-thu fc-past"
																					data-date="2018-03-22"></td>
																				<td class="fc-day  fc-fri fc-past"
																					data-date="2018-03-23"></td>
																				<td class="fc-day  fc-sat fc-past"
																					data-date="2018-03-24"></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
																<div class="fc-content-skeleton">
																	<table>
																		<thead>
																			<tr>
																				<td class="fc-day-top fc-sun fc-past"
																					data-date="2018-03-18"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-18&quot;,&quot;type&quot;:&quot;day&quot;}">18</a></td>
																				<td class="fc-day-top fc-mon fc-past"
																					data-date="2018-03-19"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-19&quot;,&quot;type&quot;:&quot;day&quot;}">19</a></td>
																				<td class="fc-day-top fc-tue fc-past"
																					data-date="2018-03-20"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-20&quot;,&quot;type&quot;:&quot;day&quot;}">20</a></td>
																				<td class="fc-day-top fc-wed fc-past"
																					data-date="2018-03-21"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-21&quot;,&quot;type&quot;:&quot;day&quot;}">21</a></td>
																				<td class="fc-day-top fc-thu fc-past"
																					data-date="2018-03-22"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-22&quot;,&quot;type&quot;:&quot;day&quot;}">22</a></td>
																				<td class="fc-day-top fc-fri fc-past"
																					data-date="2018-03-23"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-23&quot;,&quot;type&quot;:&quot;day&quot;}">23</a></td>
																				<td class="fc-day-top fc-sat fc-past"
																					data-date="2018-03-24"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-24&quot;,&quot;type&quot;:&quot;day&quot;}">24</a></td>
																			</tr>
																		</thead>
																		<tbody>
																			<tr>
																				<td></td>
																				<td></td>
																				<td></td>
																				<td></td>
																				<td></td>
																				<td></td>
																				<td></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
															<div class="fc-row fc-week table-bordered fc-rigid"
																style="height: 102px;">
																<div class="fc-bg">
																	<table class="table-bordered">
																		<tbody>
																			<tr>
																				<td class="fc-day  fc-sun fc-past"
																					data-date="2018-03-25"></td>
																				<td class="fc-day  fc-mon fc-past"
																					data-date="2018-03-26"></td>
																				<td class="fc-day  fc-tue fc-past"
																					data-date="2018-03-27"></td>
																				<td class="fc-day  fc-wed fc-past"
																					data-date="2018-03-28"></td>
																				<td class="fc-day  fc-thu fc-past"
																					data-date="2018-03-29"></td>
																				<td class="fc-day  fc-fri fc-past"
																					data-date="2018-03-30"></td>
																				<td class="fc-day  fc-sat fc-past"
																					data-date="2018-03-31"></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
																<div class="fc-content-skeleton">
																	<table>
																		<thead>
																			<tr>
																				<td class="fc-day-top fc-sun fc-past"
																					data-date="2018-03-25"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-25&quot;,&quot;type&quot;:&quot;day&quot;}">25</a></td>
																				<td class="fc-day-top fc-mon fc-past"
																					data-date="2018-03-26"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-26&quot;,&quot;type&quot;:&quot;day&quot;}">26</a></td>
																				<td class="fc-day-top fc-tue fc-past"
																					data-date="2018-03-27"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-27&quot;,&quot;type&quot;:&quot;day&quot;}">27</a></td>
																				<td class="fc-day-top fc-wed fc-past"
																					data-date="2018-03-28"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-28&quot;,&quot;type&quot;:&quot;day&quot;}">28</a></td>
																				<td class="fc-day-top fc-thu fc-past"
																					data-date="2018-03-29"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-29&quot;,&quot;type&quot;:&quot;day&quot;}">29</a></td>
																				<td class="fc-day-top fc-fri fc-past"
																					data-date="2018-03-30"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-30&quot;,&quot;type&quot;:&quot;day&quot;}">30</a></td>
																				<td class="fc-day-top fc-sat fc-past"
																					data-date="2018-03-31"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-03-31&quot;,&quot;type&quot;:&quot;day&quot;}">31</a></td>
																			</tr>
																		</thead>
																		<tbody>
																			<tr>
																				<td></td>
																				<td></td>
																				<td></td>
																				<td class="fc-event-container"><a
																					class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable"
																					href="http://google.com/"><div
																							class="fc-content">
																							<span class="fc-title">Click for Google</span>
																						</div>
																						<div class="fc-resizer fc-end-resizer"></div></a></td>
																				<td></td>
																				<td></td>
																				<td></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
															<div class="fc-row fc-week table-bordered fc-rigid"
																style="height: 107px;">
																<div class="fc-bg">
																	<table class="table-bordered">
																		<tbody>
																			<tr>
																				<td class="fc-day  fc-sun fc-other-month fc-past"
																					data-date="2018-04-01"></td>
																				<td class="fc-day  fc-mon fc-other-month fc-past"
																					data-date="2018-04-02"></td>
																				<td class="fc-day  fc-tue fc-other-month fc-past"
																					data-date="2018-04-03"></td>
																				<td class="fc-day  fc-wed fc-other-month fc-past"
																					data-date="2018-04-04"></td>
																				<td class="fc-day  fc-thu fc-other-month fc-past"
																					data-date="2018-04-05"></td>
																				<td class="fc-day  fc-fri fc-other-month fc-past"
																					data-date="2018-04-06"></td>
																				<td class="fc-day  fc-sat fc-other-month fc-past"
																					data-date="2018-04-07"></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
																<div class="fc-content-skeleton">
																	<table>
																		<thead>
																			<tr>
																				<td class="fc-day-top fc-sun fc-other-month fc-past"
																					data-date="2018-04-01"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-04-01&quot;,&quot;type&quot;:&quot;day&quot;}">1</a></td>
																				<td class="fc-day-top fc-mon fc-other-month fc-past"
																					data-date="2018-04-02"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-04-02&quot;,&quot;type&quot;:&quot;day&quot;}">2</a></td>
																				<td class="fc-day-top fc-tue fc-other-month fc-past"
																					data-date="2018-04-03"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-04-03&quot;,&quot;type&quot;:&quot;day&quot;}">3</a></td>
																				<td class="fc-day-top fc-wed fc-other-month fc-past"
																					data-date="2018-04-04"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-04-04&quot;,&quot;type&quot;:&quot;day&quot;}">4</a></td>
																				<td class="fc-day-top fc-thu fc-other-month fc-past"
																					data-date="2018-04-05"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-04-05&quot;,&quot;type&quot;:&quot;day&quot;}">5</a></td>
																				<td class="fc-day-top fc-fri fc-other-month fc-past"
																					data-date="2018-04-06"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-04-06&quot;,&quot;type&quot;:&quot;day&quot;}">6</a></td>
																				<td class="fc-day-top fc-sat fc-other-month fc-past"
																					data-date="2018-04-07"><a
																					class="fc-day-number"
																					data-goto="{&quot;date&quot;:&quot;2018-04-07&quot;,&quot;type&quot;:&quot;day&quot;}">7</a></td>
																			</tr>
																		</thead>
																		<tbody>
																			<tr>
																				<td></td>
																				<td></td>
																				<td></td>
																				<td></td>
																				<td></td>
																				<td></td>
																				<td></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--  footer wrapper -->
			</div>
		</div>
	</div>
	<!-- drawer wrapper -->
	<div class="app-drawer-overlay d-none animated fadeIn"></div>
	<!-- <script type="text/javascript" src="./assets/scripts/main.8d288f825d8dffbbe55e.js"></script>
 -->
</body>
</html>
