<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>order_insert</title>
<meta name="viewport"
   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="description"
   content="Choose between regular React Bootstrap tables or advanced dynamic ones.">

<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no">

<script
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
   src="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/assets/scripts/main.8d288f825d8dffbbe55e.js"></script>
<link
   href="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/main.8d288f825d8dffbbe55e.css"
   rel="stylesheet">
<!-- firebase -->
   <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-auth.js"></script>
  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#config-web-app -->
  <!-- firebaseUI -->
  <script src="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.js"></script>
  <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-database.js"></script>
  <!-- firebase Config and initialize -->   
  <script src="firebase/firebase-config.js"></script>
<script>
   $(function() {
	   
    /*  파이어베이스 
    	var database = firebase.database();   
      

      selelctInventoryINWarehouse();
      
      function selelctInventoryINWarehouse(){
         database.ref('warehouse/').on('child_added', function(data){
            var warehouse_code = data.key;
            var warehouse_name = data.val().warehouse_name;
            setWarehouseDropbox(warehouse_code, warehouse_name);
         });
      }
      //창고 드롭박스 세팅 함수
      function setWarehouseDropbox(warehouse_code, warehouse_name){
         var str='';
         str+='<option value="'+warehouse_code+'">';
         str+=warehouse_name;
         str+='</option>';
         $("#test1").append(str);
      } */
     
      $(".btn-primary").click(function(){
         $("#produceinsertForm").submit();
         opener.location.href='gorpoducecheck'
         window.open("about:blank","_self").close();
      });
      
   });
</script>
</head>

<body>

   <div class="col-md-3">
      <form action="produceInsert" method="post" id="produceinsertForm">

      
   		<div class="form-row">
			<div class="col-md-6">
				<div class="position-relative form-group">
         <label for="pd_code">생산할제품명</label> <input id="pd_code" placeholder="생산할제품명"
            name="pd_code" list="test" class="form-control" autocomplete="off">
        		 <datalist class="select" id="test">
          		  <option class="pList" th:each="list : ${pList}"
               th:text="${list.pd_name}" th:value="${list.pd_code}">
            </option>
         </datalist>
      </div>
     	 </div>
     		 </div>
   		<div class="form-row">
			<div class="col-md-6">
				<div class="position-relative form-group">
					<label for="manuf_startdate" class="">생산시작일</label>
				<input type="text" name="manuf_startdate" placeholder="생산할제품명" class="form-control">
			</div>
		</div>
	</div>
										
										
		<div class="form-row">
			<div class="col-md-6">
				<div class="position-relative form-group">
					<label for="manuf_amount" class="">생산수량</label>
					<input name="manuf_amount" id="manuf_amount" type="number" placeholder="생산수량"class="form-control">
			</div>
		</div>
	</div>
		<div class="form-row">
			<div class="col-md-6">
				<div class="position-relative form-group">
					<label for="sales_ordernum" class="">생산요청번호</label>
					<input name="sales_ordernum" id="sales_ordernum" type="text" placeholder="생산요청번호" class="form-control">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-6">
				<div class="position-relative form-group">
					<label for="manuf_requserid" class="">생산요청자</label>
					<input name="manuf_requserid" id="manuf_requserid" type="text"  placeholder="생산요청자" class="form-control">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-6">
				<div class="position-relative form-group">
					<label for="manuf_reqdate" class="">생산주문일</label>
					<input type="text" name="manuf_reqdate" placeholder="생산주문일"  class="form-control" >
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-6">
				<div class="position-relative form-group">
					<label for="salesdetailseq" class="">생산요청시퀀스</label>
					<input name="salesdetailseq" id="salesdetailseq" type="text" class="form-control">
				</div>
			</div>
		</div>	

<!--     창고코드 입력
		  <div class="form-group">
          <label for="warehouse_code" class="select1">창고코드</label>
             <select name="warehouse_code" class="form-control" id="test1" placeholder="창고코드"></select> 
      </div> -->
      <div class="form-group">
         <button class="mb-2 mr-2 btn-square btn btn-primary">추가하기</button>
      </div>
      </form>
   </div>

</body>
</html>