
<!doctype html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>생산품현황 - 생산품현황을 확인해주세요</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta name="description" content="Choose between regular React Bootstrap tables or advanced dynamic ones.">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

<link href="./main.cba69814a806ecc7945a.css" rel="stylesheet"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/main.8d288f825d8dffbbe55e.css" rel="stylesheet"><link href="./main.8d288f825d8dffbbe55e.css" rel="stylesheet">
	<script>
	$(function(){	
		$("#header").load("/header");
		$("#navbar").load("/navbar");
		$("#setting").load("/setting");
	});
	</script>
</head>
<script>

	$(function(){
		var openWin;
		$(".btn-primary").click(function(){
			var type = $(this).attr("data-type")
			var code = $(this).val();
/* 			if(type=='update'){
				var url = "goMaterialsUpdate?rawm_code="+code;
			    var name = "popup test";
			    var option = "width = 500, height = 500, top = 100, left = 200, location = no"
			    window.open(url, name, option);
				}		
			     */
			 if(type=='update'){
				 
				 window.open('/goProductionUpdate?pd_code='+$(this).val(),'window_name','width=800,height=600, location=no,status=no,scrollbars=yes');	 
				 
			 
			}else{
				$("#code1").val(code);
				$("#deleteProduction").submit();
			}
		});
	});
</script>
<body>
<form action="deleteProduction" method="post" id="deleteProduction">
	<input type="hidden" name="pd_code" id="code1">
</form>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">    <div class="app-main">   
			<div id="header"></div>
    		<div id="setting"></div> 
            <div class="app-main">
            <div id="navbar"></div>
             <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                    </i>
                                </div>
                                <div>생산품현황
                                    <div class="page-title-subheading">생산품현황 조회 테이블
                                    </div>
                                </div>
                            </div>    </div>
                    </div>            <div class="main-card mb-3 card">
                        <div class="card-body">
                            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>생산품코드</th>
                                    <th>생산품명</th>
                                    <th>재료비</th>
                                    <th>생산비</th>
                                     <th>원재료수</th>
                                    <th>기타</th>
                                    
                                </tr>
                                </thead>
        						<tbody>
                                <tr th:each="list : ${productionlist}">
                                <td th:text="${list.pd_code}"></td>
                                <td th:text="${list.pd_name}"></td>
                                <td th:text="${list.pd_rmcost}"></td>
                                <td th:text="${list.pd_manufcost}"></td>
                                <td th:text="${list.pd_sort}"></td>

									<td><button class="mb-2 mr-2 btn btn-primary" data-type="update" th:value="${list.pd_code}">수정</button>
									<button class="mb-2 mr-2 btn btn-primary" data-type="delete" th:value="${list.pd_code}">삭제</button>
										</td>	

                                </tr>
                                </tbody>
							</table>
							  <a href="/productioninsert"><button type="button" class="btn btn-shadow btn-wide btn-primary" id="write">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-plus fa-w-20"></i>
                                </span>
                               	추가
                            </button></a>
							
							
							
                        </div>
                    </div>
                </div>
                
                <!--  footer wrapper -->    </div>
    </div>
</div>
</div>

<!-- drawer wrapper -->

<!-- drawer 삽입 -->
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script>
/* 	$(function(){
		$(".").click(function(){
			window.open('/goProductionUpdate?pd_code='+$(this).val(),'window_name','width=800,height=600, location=no,status=no,scrollbars=yes');
		});
	}); */
</script>
</body>
 </html>

