<!doctype html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>supplier</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="description"
	content="This is an example dashboard created using build-in elements and components.">

<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no">

<link
	href="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/main.8d288f825d8dffbbe55e.css"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- 	여기부터 필요
 --><script
	src="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/assets/scripts/main.8d288f825d8dffbbe55e.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function(){
		
	
		var mfseq = /*[[${mfseq}]]*/;
		$.ajax({
			url:"produceOneSelect",
			data:{mfseq : mfseq},
			type:"POST",
			success:function(result){
				$("#mfseq").val(result.mfseq);
				$("#pd_code").val(result.pd_code);
				$("#manuf_startdate").val(result.manuf_startdate);
				$("#manuf_enddate").val(result.manuf_enddate);
				$("#manuf_amount").val(result.manuf_amount);
				$("#sales_ordernum").val(result.sales_ordernum);
				$("#manuf_requserid").val(result.manuf_requserid);
				$("#manuf_reqdate").val(result.manuf_reqdate);
				$("#salesdetailseq").val(result.salesdetailseq);
				$("#manuf_status").val(result.manuf_status);
				$("#warehouse_code").val(result.warehouse_code);

			}
		});
		
		$(".btn-primary").click(function(){
/* 			var mfseq = $("#mfseq").val();
			var pd_code = $("#pd_code").val();
			var manuf_startdate = $("#manuf_startdate").val();
			var manuf_enddate = $("#manuf_enddate").val();
			var manuf_amount = $("#manuf_amount").val();
			var sales_ordernum = $("#sales_ordernum").val();
			var manuf_reqdate = $("#manuf_reqdate").val();
			var salesdetailseq = $("#salesdetailseq").val();
			var manuf_status = $("#manuf_status").val();
			var warehouse_code = $("#warehouse_code").val();
			
			
			var mfseq1 = $("#mfseq1").val(mfseq);
			var pd_code = $("#pd_code1").val();
			var manuf_startdate1 = $("#manuf_startdate1").val(manuf_startdate);
			var manuf_enddate1 = $("#manuf_enddate1").val(manuf_enddate);
			var manuf_amount1 = $("#manuf_amount1").val(manuf_amount);
			var sales_ordernum1 = $("#sales_ordernum1").val(sales_ordernum);
			var manuf_reqdate1 = $("#manuf_reqdate1").val(manuf_reqdate);
			var salesdetailseq1 = $("#salesdetailseq1").val(salesdetailseq);
			var manuf_status1 = $("#manuf_status1").val(manuf_status);			
			var warehouse_code = $("#warehouse_code1").val(warehouse_code);
			
 */

			$("#produceUpdateForm").submit();
			opener.document.location.href="/goproducecheck";
            self.close();
		});
	});
	/*]]>*/
</script>
</head>

<body>

<form action="produceUpdate" method="post"	id="produceUpdateForm">
   		<div class="form-row">
			<div class="col-md-6">
				<div class="position-relative form-group">
					<label for="manuf_startdate" class="">생산시작일</label>
				<input type="date" id="manuf_startdate" name="manuf_startdate" class="form-control" >
			</div>
		</div>
	</div>
		
										
		<div class="form-row">
			<div class="col-md-6">
				<div class="position-relative form-group">
					<label for="manuf_amount" class="">생산수량</label>
					<input name="manuf_amount" id="manuf_amount" 
				type="number" class="form-control">
			</div>
		</div>
	</div>

		<div class="form-row">
			<div class="col-md-6">
				<div class="position-relative form-group">
					<label for="manuf_requserid" class="">생산요청자</label>
					<input name="manuf_requserid" id="manuf_requserid" type="text" class="form-control">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-6">
				<div class="position-relative form-group">
					<label for="warehouse_code" class="">창고코드</label>
					<input name="warehouse_code" id="warehouse_code" type="text" class="form-control">
				</div>
			</div>
		</div>


		<!-- if check -->
		<div class="form-row">
			<div class="col-md-6">
				<div class="position-relative form-group1">

				</div>
			</div>
			<div class="col-md-6">
				<div class="position-relative form-group2">

				</div>
			</div>
		</div>
		<div class="form-group">
			<button class="mb-2 mr-2 btn-square btn btn-primary">수정</button>
		</div>

	</div>
	
	</form>


	<!-- <form action="produceUpdate" method="post"	id="produceUpdateForm">
		<input type="hidden" id="mfseq1" name="mfseq"> <input
			type="hidden" id="manuf_startdate1" name="manuf_startdate"> <input
			type="hidden" id="manuf_enddate1" name="manuf_enddate"> <input
			type="hidden" id="manuf_amount1" name="manuf_amount"> <input
			type="hidden" id="sales_ordernum1" name="sales_ordernum"> <input
			type="hidden" id="manuf_reqdate1" name="manuf_reqdate"> <input
			type="hidden" id="salesdetailseq1" name="salesdetailseq"> <input
			type="hidden" id="warehouse_code1" name="warehouse_code"><input
			type="hidden" id="manuf_status1" name="manuf_status"><input
			type="hidden" id="manuf_status1" name="manuf_status"><input
			type="hidden" id="manuf_status1" name="manuf_status">
	</form> -->
</body>
</html>