
<!doctype html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>생산현황 - 생산현황을 확인해주세요</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta name="description" content="Choose between regular React Bootstrap tables or advanced dynamic ones.">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="architectui-html-pro-theme-package/architectui-html-pro-theme/architectui-html-pro/main.8d288f825d8dffbbe55e.css" rel="stylesheet">
	
<script th:inline="javascript">
/*<![CDATA[*/
 	$(function(){
 		var producelist = /*[[${producelist}]]*/;
		var today = new Date();
		
		
 		for(var i = 0 ; i<producelist.length; i++){
 			str='';
 			str+='<tr>';
 			str+='<td>'+producelist[i].pd_code+'</td>';
 			str+='<td>'+producelist[i].pd_name+'</td>';
 			str+='<td>'+producelist[i].manuf_startdate+'</td>';
 			str+='<td>'+producelist[i].manuf_enddate+'</td>';
 			str+='<td>'+producelist[i].warehouse_code+'</td>';
 			str+='<td>'+producelist[i].manuf_amount+'</td>';
 			str+='<td>'+producelist[i].manuf_requserid+'</td>';
 			str+='<td>'+producelist[i].manuf_reqdate+'</td>';
 			str+='<td>'+producelist[i].manuf_status+'</td>';
 			
 			var startdate = producelist[i].manuf_startdate;
 			var startdateOfSplit = startdate.split('-');
 			var date = new Date(startdateOfSplit[0].toString(), startdateOfSplit[1]-1,startdateOfSplit[2]);
 			var status =producelist[i].manuf_status;
			str+='<td>';
			if(status=='미완'& today.getTime()>date.getTime()){
				str+='<button class="mb-2 mr-2 btn btn-primary" data-type="status" value="'+producelist[i].mfseq+'">완료</button>';
			}
 	 		if(today.getTime()<date.getTime()){
 			
 			str+='<button class="mb-2 mr-2 btn btn-primary" data-type="update" value="'+producelist[i].mfseq+'">수정</button>';
 			str+='<button class="mb-2 mr-2 btn btn-primary" data-type="delete" value="'+producelist[i].mfseq+'">삭제</button>';
 			
 			} 
 	 		str+='</td>';
 			str+='</tr>';
 			$("#tbody").append(str);
 		}
		
 	
	
		$(".btn-primary").click(function(){
			var type = $(this).attr("data-type");
			var code = $(this).val();
			var code1 = $(this).val();			
			if(type=='update'){
				var url = "goproduceupdate?mfseq="+code;
			    var name = "popup test";
			    var option = "width = 500, height = 500, top = 100, left = 200, location = no"
			    window.open(url, name, option);
			    
			}else if(type=='delete'){
				$("#code1").val(code1);
				$("#deleteProduce").submit();
			} else if(type=='status'){
				$("#code").val(code);
				$("#statusProduce").submit();				
			} else{
				var g_oWindow = window.open("/goproduceinsert", "Input rawMaterial Information","width=400, height=500, location=no, toolbar=no, menubar=no, scrollbars=no, status=no, resizable=yes");
				/* location.href="goproduceinsert" */
			}
		});
	});
	/*]]>*/
/* 		$(function(){
		var openWin;
		$(".btn-primary").click(function(){
			var type = $(this).attr("data-type")
			var code = $(this).val();
			if(type=='update'){
				var url = "goMaterialsUpdate?rawm_code="+code;
			    var name = "popup test";
			    var option = "width = 500, height = 750, top = 100, left = 200, location = no"
			    window.open(url, name, option);
			    
			}else if(type=='delete'){
				$("#code1").val(code);
				$("#deleteForm").submit();
			}
		});
		$("#insertRawMaterial").click(function(){ 
			var g_oWindow = window.open("/goMaterialsInsert", "Input rawMaterial Information","width=500, height=650, location=no, toolbar=no, menubar=no, scrollbars=no, status=no, resizable=yes");
		});
	}); */
</script>
	<script>
	$(function(){	
		$("#header").load("/header");
		$("#navbar").load("/navbar");
		$("#setting").load("/setting");
	});
	</script>
</head>
<body>
 <form action="statusProduce" method="post" id="statusProduce">
	<input type="hidden" name="mfseq" id="code">
</form> 
<form action="deleteProduce" method="post" id="deleteProduce">
	<input type="hidden" name="mfseq" id="code1">
</form>

<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar"> 
			<div id="header"></div>
    		<div id="setting"></div> 
            <div class="app-main">
            <div id="navbar"></div>
			 <div class="app-main__outer">
                <div class="app-main__inner">
                
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                    </i>
                                </div>
                                <div>생산현황
                                    <div class="page-title-subheading">생산현황 조회 테이블
                                    </div>
                                </div>
                            </div>    </div>
                    </div>            <div class="main-card mb-3 card">
                        <div class="card-body"><!--  여기에 와이드 헤이스 넣기ㅏ -->
                            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>제품번호</th>
                                    <th>제품명</th>
                                    <th>시작일</th>
                                    <th>종료일</th>
                                     <th>창고</th>
                                    <th>수량</th>
                                    <th>생산요청인</th>
                                    <th>생산요청일</th>
                                     <th>상태</th>
                                    <th>기타</th>
                                    
                                </tr>
                                </thead>
        						<tbody id="tbody">
 
                                </tbody>
                            </table>
                            <!-- <a href="/goproduceinsert"> --><button type="button" class="btn btn-shadow btn-wide btn-primary" id="write">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-plus fa-w-20"></i>
                                </span>
                               	추가
                            </button></a>

                        </div>
                    </div>
                </div>
           <!--  footer wrapper -->    </div>
    </div>
</div>
<!-- drawer wrapper -->
<div class="app-drawer-overlay d-none animated fadeIn"></div>
	
 </html>

