<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.erp.dao.BoardMapper">

		<insert id="boardInsert" parameterType="com.project.erp.vo.BoardVO">
		INSERT INTO erp_notice
		(
			board_seq 
			, userid 
			, title 
			, content 
			, time 
		)
		VALUES
		(
			board_seq.nextval
			,#{userid}
			,#{title}
			,#{content}
			,sysdate
  
		)
 
	</insert>	 

	<select id="boardAllSelect" resultType="com.project.erp.vo.BoardVO">
		select
		    row_number() over(order by time desc) as rn
			,board_seq
			,userid
			,title
			,content
			,time
		from
			erp_notice
		order by
			time desc
	</select>

	<delete id="boardDelete" parameterType="com.project.erp.vo.BoardVO">
		delete
		from
			erp_notice
		where
			board_seq=#{board_seq}
	</delete>
	
	<update id="boardUpdate" parameterType="com.project.erp.vo.BoardVO">
		update
			erp_notice
		set
 
			title=#{title}
			,content=#{content}
 
		where
			board_seq=#{board_seq}
	</update>
 		<select id="selectBoard" resultType="com.project.erp.vo.BoardVO" parameterType="String">
	
	SELECT 
			BOARD_SEQ
			,TITLE
			,CONTENT
			,USERID
 	FROM
		erp_notice
	WHERE
		BOARD_SEQ=#{board_seq}
	</select>
    


 </mapper>
