<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.erp.dao.InventoryMapper">

	<select id="selectSupplierBySeq" parameterType="String" resultType="com.project.erp.vo.SupplierVO">
		SELECT supplierseq
				, supplier_name
				, supplier_owner
				, supplier_addr
				, supplier_tel
				, supplier_pic
				, supplier_email
		FROM supplier 
		WHERE supplierseq=#{supplierseq}
	</select>
	
	
	
	<select id="selectProductByCode" parameterType="String" resultType="com.project.erp.vo.ProductVO">
		SELECT  pd_code
				, pd_name
				, pd_rmcost
				, pd_manufcost
				, pd_sort
		FROM product 
		WHERE pd_code=#{pd_code}
	</select>
</mapper>
