<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.erp.dao.InventoryMapper">
	<select id="selectAllInventory" resultType="com.project.erp.vo.WarehouseVO">
		SELECT  warehouse_code
				, warehouse_name
				, warehouse_addr
				, warehouse_size
				, TO_CHAR(warehouse_date, 'MM/DD/YYYY') AS warehouse_date
		FROM warehouse
		ORDER BY warehouse_code ASC
	</select>
	
	<insert id="insertWarehouse" parameterType="com.project.erp.vo.WarehouseVO">
		INSERT INTO warehouse(
			 	warehouse_code
				, warehouse_name
				, warehouse_addr
				, warehouse_size
				, warehouse_date  
		)
		VALUES(
			 'w' || TO_CHAR(warehouse_seq.nextval)
 			, #{warehouse_name}
 			, #{warehouse_addr}
 			, #{warehouse_size}
 			,  TO_DATE(#{warehouse_date}, 'MM/DD/YYYY')
		)
	</insert>
	
	<select id="selectLatestWarehouse" resultType="com.project.erp.vo.WarehouseVO">
		SELECT  warehouse_code
				, warehouse_name
				, warehouse_addr
				, warehouse_size
				, TO_CHAR(warehouse_date, 'MM/DD/YYYY') AS warehouse_date
		FROM warehouse
		WHERE warehouse_code= (SELECT MAX(warehouse_code)
                                FROM warehouse
                                )
	</select>
	
	<select id="selectWarehouseByCode" resultType="com.project.erp.vo.WarehouseVO">
		SELECT  warehouse_code
				, warehouse_name
				, warehouse_addr
				, warehouse_size
				, TO_CHAR(warehouse_date, 'MM/DD/YYYY') AS warehouse_date
		FROM warehouse
		WHERE warehouse_code = #{warehouse_code}
	</select>
	
	<update id="updateWarehouse" parameterType="com.project.erp.vo.WarehouseVO">
		UPDATE warehouse
		SET warehouse_name = #{warehouse_name}
			, warehouse_addr = #{warehouse_addr}
			, warehouse_size = #{warehouse_size}
			, warehouse_date = TO_DATE(#{warehouse_date}, 'MM/DD/YYYY')
		WHERE warehouse_code = #{warehouse_code}
	</update>
</mapper>
