<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.erp.dao.ProductionMapper">
	<insert id="productionInsert" parameterType="com.project.erp.vo.ProductVO">
	insert into PRODUCT
	(
		pd_code,
		pd_name,
		pd_rmcost,
		pd_manufcost,
		pd_sort,
		pd_delete	
	)
	values
	(
		'p' || TO_CHAR(pd_code.nextval),
		#{pd_name},
		#{pd_rmcost},
		#{pd_manufcost},
		#{pd_sort},
		'N'
	)
	</insert>
	<select id="produceSelect" resultType="com.project.erp.vo.ManufactureVO" >
		 SELECT
		 	m.mfseq
 			,m.pd_code 
 			,p.pd_name
 			,TO_CHAR(m.manuf_startdate, 'YYYY-MM-DD') AS manuf_startdate 
 			,TO_CHAR(m.manuf_enddate, 'YYYY-MM-DD') AS manuf_enddate
			,m.manuf_status 
			,m.warehouse_code 
		 	,m.manuf_amount
 			,m.manuf_requserid 
			,TO_CHAR(m.manuf_reqdate , 'YYYY-MM-DD') AS manuf_reqdate
			,mf_delete
 	 	FROM
		manufacture m, product p
		WHERE	m.pd_code = p.pd_code
		and mf_delete='N'
</select>
 
	<select id="productionSelect" resultType="com.project.erp.vo.ProductVO" >
		 SELECT
			 pd_code			 
			 ,pd_name 		 
			 ,pd_rmcost  		 
			 ,pd_manufcost 	 
			 ,pd_sort
			 ,pd_delete			 
 	 	FROM
			product 
	 	WHERE	pd_delete='N'
 </select>
 
 	<delete id="deleteProduction" parameterType="com.project.erp.vo.ProductVO">
		update
			product
		set
			pd_delete=#{pd_delete}
		where
			pd_code=#{pd_code}
	</delete>
	<delete id="deleteProduce"  parameterType="com.project.erp.vo.ManufactureVO">
		update
 			 manufacture	
		set
			mf_delete=#{mf_delete}
		where
			mfseq=#{mfseq}
	</delete>
	<select id="selectLatestProduct" resultType="com.project.erp.vo.ProductVO">
		SELECT
	 		pd_code
			,pd_name
 			,pd_rmcost
 			,pd_manufcost
			,pd_sort
	 	FROM product
	 	WHERE pd_code=(SELECT MAX(pd_code)
	 				   FROM product 
	 					)
	</select>
	
	<insert id="insertProudctMaterial" parameterType="com.project.erp.vo.ProductMaterialVO">
		INSERT INTO product_material
		(
			product_material_code
			, pd_code
			, rawm_code
			, product_material_amount
		)
		VALUES
		(
			 'pm' || TO_CHAR(product_material_code.NEXTVAL)
			, #{pd_code}
			, #{rawm_code}
			, #{product_material_amount}
		)
	</insert>
</mapper>
