<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.erp.dao.RawMaterialMapper">
	<insert id="rawMaterialInsert" parameterType="com.project.erp.vo.RawMaterialVO">
		INSERT INTO RAWMATERIAL
		(
			rawm_code
			,supplierseq
			,rawm_name
			,rawm_sort
			,rawm_price
			,rawm_notice
			,rawm_minimum
			,rawm_delete
		)
		VALUES
		(
			 'm' || TO_CHAR(supplierseq.nextval)
			,#{supplierseq}
			,#{rawm_name}
			,#{rawm_sort}
			,#{rawm_price}
			<choose>
			<when test="rawm_autoorder!=null">
			,'CHECKED'
			</when>
			<otherwise>
			,'UNCHECKED'
			</otherwise>
			</choose>
			,#{rawm_minimum}
			,#{rawm_delete}
		)
	</insert>
	
	<select id="rawMaterialAllSelect" resultType="com.project.erp.vo.RawMaterialVO">
		select
			rawm_code
			,supplierseq
			,rawm_name
			,rawm_sort
			,rawm_price
			,rawm_notice
			,rawm_minimum
			,rawm_delete
		from
			RAWMATERIAL
		where
			rawm_delete='N'
	</select>
	
	<select id="rawMaterialOneSelect" parameterType="String" resultType="com.project.erp.vo.RawMaterialVO">
		select
			rawm_code
			,supplierseq
			,rawm_name
			,rawm_sort
			,rawm_price
			,rawm_notice
			,rawm_minimum
			,rawm_delete
		from
			RAWMATERIAL
		where
			rawm_code=#{rawm_code}
	</select>
	
	<select id="rawMaterialDashSelect" resultType="com.project.erp.vo.RawMaterialVO">
		select
			rawm_code
			,supplierseq
			,rawm_name
			,rawm_sort
			,rawm_price
			,rawm_notice
			,rawm_minimum
			,rawm_delete
		from
			RAWMATERIAL
		where
			rawm_delete='N' AND
			rownum&lt;=3
		order by
			rawm_code desc
	</select>
	
	<update id="rawMaterialDelete" parameterType="com.project.erp.vo.RawMaterialVO">
		update
			RAWMATERIAL
		set
			rawm_delete=#{rawm_delete}
		where
			rawm_code=#{rawm_code}
	</update>
	
	<update id="rawMaterialUpdate" parameterType="com.project.erp.vo.RawMaterialVO">
		update
			RAWMATERIAL
		set
			supplierseq=#{supplierseq}
			,rawm_name=#{rawm_name}
			,rawm_sort=#{rawm_sort}
			,rawm_price=#{rawm_price}
			,rawm_notice=#{rawm_notice}
			,rawm_minimum=#{rawm_minimum}
		where
			rawm_code=#{rawm_code}
	</update>
</mapper>
