<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.erp.dao.RawMaterialMapper">
	<insert id="rawMaterialInsert" parameterType="com.project.erp.vo.RawMaterialVO">
		INSERT INTO RAWMATERIAL
		(
			rawm_code
			,supplierseq
			,rawm_name
			,rawm_sort
			,rawm_price
			,rawm_autoorder
			,rawm_minimum
			,rawm_set
		)
		VALUES
		(
			rawm_code.nextval
			,#{supplierseq}
			,#{rawm_name}
			,#{rawm_sort}
			,#{rawm_price}
			<choose>
			<when test="rawm_autoorder!=null">
			,'CHECKED'
			</when>
			<otherwise>
			,'UNCHECKED'
			</otherwise>
			</choose>
			,#{rawm_minimum}
			,#{rawm_set}
		)
	</insert>
	
	<select id="rawMaterialAllSelect" resultType="com.project.erp.vo.RawMaterialVO">
		select
			rawm_code
			,supplierseq
			,rawm_name
			,rawm_sort
			,rawm_price
			,rawm_autoorder
			,rawm_minimum
			,rawm_set
		from
			RAWMATERIAL
	</select>
	
	<select id="rawMaterialOneSelect" parameterType="com.project.erp.vo.RawMaterialVO" resultType="com.project.erp.vo.RawMaterialVO">
		select
			rawm_code
			,supplierseq
			,rawm_name
			,rawm_sort
			,rawm_price
			,rawm_autoorder
			,rawm_minimum
			,rawm_set
		from
			RAWMATERIAL
		where
			rawm_code=#{rawm_code}
	</select>
	
	<select id="rawMaterialDashSelect" resultType="com.project.erp.vo.RawMaterialVO">
		select
			rawm_code
			,supplierseq
			,rawm_name
			,rawm_sort
			,rawm_price
			,rawm_autoorder
			,rawm_minimum
			,rawm_set
		from
			RAWMATERIAL
		where
			rownum&lt;=3
		order by
			rawm_code desc
	</select>
	
	<delete id="rawMaterialDelete" parameterType="com.project.erp.vo.RawMaterialVO">
		delete
		from
			RAWMATERIAL
		where
			rawm_code=#{rawm_code}
	</delete>
	
	<update id="rawMaterialUpdate" parameterType="com.project.erp.vo.RawMaterialVO">
		update
			RAWMATERIAL
		set
			supplierseq=#{supplierseq}
			,rawm_name=#{rawm_name}
			,rawm_sort=#{rawm_sort}
			,rawm_price=#{rawm_price}
			,rawm_autoorder=#{rawm_autoorder}
			,rawm_minimum=#{rawm_minimum}
			,rawm_set=#{rawm_set}
		where
			rawm_code=#{rawm_code}
	</update>
</mapper>
