<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.erp.dao.SalesMapper">



<insert id="insertSales" parameterType="com.project.erp.vo.Sales">
Insert into Sales
values(
#{sales_ordernum},
#{buyerseq},
to_char(sysdate,'yyyy/mm/dd hh24:mi'),
'승인대기',
#{sales_totalprice},
#{sales_title},
#{buyer_corp}
)
</insert>

<insert id="insertSalesDetail" parameterType="com.project.erp.vo.SalesDetail">
insert into salesdetail
values(
salesdetailseq.nextval,
#{salesdetail_name},
#{salesdetail_amount},
#{salesdetail_price},
#{sales_ordernum},
#{pd_code}
)
</insert>

<insert id="insertBuyer" parameterType="com.project.erp.vo.Buyer">
insert into buyer
values(
buyerseq.nextval,
#{buyer_corp},
#{buyer_owner},
#{buyer_addr},
#{buyer_tel},
#{buyer_pic},
#{buyer_pictel},
#{buyer_email},
#{buyer_memo}
)
</insert>




<select id="selectAllSales" resultType="com.project.erp.vo.Sales">
select *
from sales
order by sales_ordernum desc
</select> 

<select id="selectAllBuyer" resultType="com.project.erp.vo.Buyer">
select *
from buyer
order by buyerseq asc
</select>




<select id="selectSalesDetailByOrdernum" parameterType="com.project.erp.vo.SalesDetail" resultType="com.project.erp.vo.SalesDetail">
select *
from salesdetail
where sales_ordernum=#{sales_ordernum}
</select>

<select  id="selectSalesByOrdernum" parameterType="com.project.erp.vo.Sales" resultType="com.project.erp.vo.Sales">
select *
from sales
where sales_ordernum=#{sales_ordernum}
</select>

<select id="selectOneBuyer" parameterType="com.project.erp.vo.Buyer" resultType="com.project.erp.vo.Buyer">
select buyerseq
from buyer
where buyer_corp = #{buyer_corp}
</select>

<select id="selectBuyer" parameterType ="com.project.erp.vo.Buyer" resultType="com.project.erp.vo.Buyer">
select *
from buyer
where buyerseq =#{buyerseq}
</select>

<select id="selectSalesStatusIsDone" resultType="com.project.erp.vo.Sales">
select *
from sales
where sales_status='판매완료'
</select>



<update id="updateSalesStatus" parameterType="com.project.erp.vo.Sales">
update sales
set
<if test="status='승인대기'">
status='승인완료'
</if>
where
sales_ordernum=#{sales_ordernum}
</update>

<update id="setSalesPrice" parameterType="com.project.erp.vo.Sales">
update sales
set
sales_totalprice=#{sales_totalprice},
sales_title=#{sales_title}
where
sales_ordernum=#{sales_ordernum}
</update>

<update id="updateBuyer" parameterType="com.project.erp.vo.Sales">
update buyer
set
buyer_corp = #{buyer_corp},
buyer_owner = #{buyer_owner},
buyer_addr = #{buyer_addr},
buyer_tel = #{buyer_tel},
buyer_pic = #{buyer_pic},
buyer_pictel = #{buyer_pictel},
buyer_email = #{buyer_email},
buyer_memo = #{buyer_memo}
where
buyerseq=#{buyerseq}
</update>

<delete id="deleteBuyer" parameterType="com.project.erp.vo.Buyer">
delete from buyer where buyerseq=#{buyerseq}
</delete>

</mapper>