<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.erp.dao.SalesMapper">


<select id="selectOneBuyer" parameterType="com.project.erp.vo.Buyer" resultType="com.project.erp.vo.Buyer">
select buyerseq
from buyer
where buyer_corp = #{buyer_corp}
</select>

<insert id="insertSales" parameterType="com.project.erp.vo.Sales">
Insert into Sales
values(
sales_ordernum.nextval,
#{buyerseq},
sysdate,
'승인대기',
#{sales_totalprice},
#{sales_title}
)
</insert>

<insert id="insertSalesDetail" parameterType="com.project.erp.vo.SalesDetail">
insert into salesdetail
values(
salesdetailseq.nextval,
#{salesdetail_name},
#{salesdetail_amount},
#{salesdetail_price},
#{sales_ordernum},
#{pd_code}
)
</insert>

<select id="selectAllSales" resultType="com.project.erp.vo.Sales">
select *
from sales
</select> 

<select id="selectSalesDetail" parameterType="com.project.erp.vo.SalesDetail" resultType="com.project.erp.vo.SalesDetail">
select *
from salesdetail
where sales_ordernum=#{sales_ordernum}
</select>
</mapper>
