<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.erp.dao.SupplierMapper">
	<insert id="supplierInsert" parameterType="com.project.erp.vo.SupplierVO">
		insert into supplier
		(
			supplierSeq
			,supplierName
			,supplierOwner
			,supplierAddr
			,supplierTel
			,supplierPIC
			,supplierEmail
		)
		values
		(
			supplierSeq.nextval
			,#{supplierName}
			,#{supplierOwner}
			,#{supplierAddr}
			,#{supplierTel}
			,#{supplierPIC}
			,#{supplierEmail}
		)
	</insert>
	
	<select id="supplierAllSelect" resultType="com.project.erp.vo.SupplierVO">
		select
			supplierSeq
			,supplierName
			,supplierOwner
			,supplierAddr
			,supplierTel
			,supplierPIC
			,supplierEmail
		from
			supplier
	</select>
	
	<delete id="supplierDelete" parameterType="com.project.erp.vo.SupplierVO">
		delete
		from
			supplier
		where
			supplierSeq=#{supplierSeq}
	</delete>
	
	<update id="supplierUpdate" parameterType="com.project.erp.vo.SupplierVO">
		update
			supplier
		set
			supplierName=#{supplierName}
			,supplierOwner=#{supplierOwner}
			,supplierAddr=#{supplierAddr}
			,supplierTel=#{supplierTel}
			,supplierPIC=#{supplierPIC}
			,supplierEmail=#{supplierEmail}
		where
			supplierSeq=#{supplierSeq}
	</update>
	
	<select id="supplierOneSelect" parameterType="com.project.erp.vo.SupplierVO" resultType="com.project.erp.vo.SupplierVO">
		select
			supplierSeq
			,supplierName
			,supplierOwner
			,supplierAddr
			,supplierTel
			,supplierPIC
			,supplierEmail
		from
			supplier
		where
			supplierSeq=#{supplierSeq}
	</select>
	
</mapper>
